.wrapper {
  padding: 10px;
}
.calc-btn {
  margin-top: 30px;
}
.choose-box {
  min-width: 350px;
}
.btn-toppings {
  width: 38px;
}
.toppings {
  margin-right: 5px;
}
.toppings-lbl {
  margin-right: 10px;
}