app-inputs {
  height: 50%;
  display: block;
}
app-stats {
  height: 50%;
  display: block;
}
.controls {
  background-color: green;
  height: 400px;
  width: 400px;
}
.list {
  background-color: red;
  height: 400px;
  width: 600px;
}

